.detail-clinic-container {

    .clinic-profile {
        height             : 400px;
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : cover;
        display            : flex;
        flex-direction     : column;
        justify-content    : flex-end;

        .profile-clinic-background {
            height          : 160px;
            background-color: rgba(255, 255, 255, 0.8);
            display         : flex;

            .avatar-clinic {
                background-image   : url('https://cdn.bookingcare.vn/fo/2019/12/13/120331-co-xuong-khop.jpg');
                width              : 120px;
                background-color   : #fff;
                margin             : 20px 30px;
                height             : 120px;
                background-repeat  : no-repeat;
                background-position: center;
                background-size    : contain;
            }

            .info-clinic {
                display        : flex;
                justify-content: center;
                flex-direction : column;

                .name-clinic {
                    font-size  : 28px;
                    font-weight: 600;
                }

                .address-clinic {
                    font-size: 16px;
                }
            }
        }
    }

    .detail-clinic-description {
        padding-top   : 30px;
        padding-bottom: 20px;
        border-bottom : 2px solid #eee;
    }

    .detail-clinic-body {
        margin: 15px auto;

        .detail-clinic-content {
            display       : flex;
            flex-direction: column;
            gap           : 15px;

            .title-section {
                word-wrap  : break-word;
                font-size  : 24px;
                font-weight: 600;
            }

            .btn-section {
                float         : right;
                display       : block;
                padding       : 10px 15px;
                border        : none;
                background    : #ebebeb;
                outline       : none;
                color         : black;
                text-transform: uppercase;

                &:hover {
                    color     : #fff;
                    background: #f7d800;
                }
            }

            .each-doctor {

                display         : flex;
                width           : 100%;
                padding         : 10px;
                border-radius   : 8px;
                box-shadow      : 0 1px 6px #20212447;
                background-color: white;

                .detail-clinic-content-left {
                    width       : 50%;
                    padding     : 10px;
                    border-right: 1px solid #ddd;
                }


                .detail-clinic-content-right {
                    padding: 10px;
                    width  : 50%;

                    .doctor-schedule {
                        .doctor-schedule-container {
                            border-right: unset !important;
                        }
                    }

                    .doctor-extra-info {
                        border-top : 1px solid #ddd;
                        padding-top: 10px;
                        margin-top : 10px;

                        .doctor-extra-info-container {
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
}