.modal-user-container {
    .modal-title {
        button {
            background-color: transparent !important;
            border          : none;
            font-size       : 30px;
            color           : white;
        }
    }

    .modal-user-body {
        display  : flex;
        gap      : 10px;
        flex-wrap: wrap;



        .input-container {
            display       : flex;
            flex-direction: column;
            width         : 49%;

            &.max-width-input {
                width: 100%;
            }

            input {
                border-radius: 30px;
                height       : 30px;
            }
        }
    }

}