.all-section-container {

    .all-section-header {
        font-size    : 24px;
        font-weight  : 600;
        margin-bottom: 15px;
    }

    .all-section-body {
        display         : flex;
        flex-direction  : column;
        background-color: #fff;
        box-shadow      : 0 1px 6px #20212447;
        border-radius   : 5px;
        border-top      : 1px solid #eee;

        .each-section {
            height : 100px;
            display: flex;

            border-bottom: 1px solid #eee;

            &:hover {
                background-color: #fafafa;
                color           : #45c3d2;
                cursor          : pointer;
            }

            .avatar-doctor {
                margin-top         : 10px;
                height             : 80px;
                width              : 80px;
                border-radius      : 50%;
                background-size    : contain;
                background-repeat  : no-repeat;
                background-position: center center;
            }

            .basic-info-doctor {
                margin-top : 20px;
                margin-left: 15px;
            }
        }
    }
}