.section-share {
    height: 330px;

    .section-container {
        display       : flex;
        flex-direction: column;

        .section-header {

            height     : 60px;
            margin     : 0 7px 30px 7px;
            padding-top: 30px;

            .title-section {
                word-wrap  : break-word;
                font-size  : 24px;
                font-weight: 600;
            }

            .btn-section {
                float         : right;
                display       : block;
                padding       : 10px 15px;
                border        : none;
                background    : #ebebeb;
                outline       : none;
                color         : black;
                text-transform: uppercase;

                &:hover {
                    color     : #fff;
                    background: #f7d800;
                }
            }
        }
    }

    &.section-outstanding-doctor {
        .section-customize {

            .customize-border {
                padding-top   : 20px;
                padding-bottom: 20px;
                border        : 1px solid #eee;

                .outer-bg {
                    display        : flex;
                    justify-content: center;
                    margin-bottom  : 10px;
                }

                .position {}
            }
        }
    }

    &.section-specialty {
        background   : #f5f5f5;
        border-top   : 3px solid #efeef5;
        border-bottom: 3px solid #efeef5;
    }

    &.section-medical-facility {
        background   : #f5f5f5;
        border-top   : 3px solid #efeef5;
        border-bottom: 3px solid #efeef5;
    }

    .section-body {
        .section-customize {
            &:hover {
                color : #45c3d2;
                cursor: pointer;
            }

            width  : 278px;
            padding: 7px;


            .section-name {
                margin-top: 10px;
            }

            .bg-image {
                height             : 150px;
                background-position: center center;
                background-repeat  : no-repeat;
                background-size    : cover;

                &.section-specialty {
                    //background-image: url("../../assets/specialty/tim-mach.jpg");
                }

                &.section-hand-book {
                    background-image: url("../../assets/review-phong-kham-acc.jpg");
                }

                &.section-clinic {
                    background-size : contain;
                    background-color: #fff;
                }

                &.section-outstanding-doctor {
                    //background-image: url('../../assets/doctor-check.jpg');
                    width        : 120px;
                    height       : 120px;
                    border-radius: 50%;
                }
            }
        }
    }
}





// .slick-prev:before,
// .slick-next:before {
//     font-family: "Font Awesome" !important;
//     color      : rgba(226, 226, 226, 0.855) !important;
//     //color    : rgba(226, 226, 226, 0.855);
//     font-size  : 48px !important;
// }

// .slick-prev {
//     z-index           : 999 !important;
//     left              : -10px !important;
//     height            : 48px !important;
//     width             : 44px !important;
//     //background-color: rgba(226, 226, 226, 0.855) !important;

//     &:hover {
//         // background: rgb(247, 244, 244) !important;
//     }
// }

// .slick-disabled {
//     display: none !important;
// }

// .slick-next {
//     z-index             : 999 !important;
//     right               : -10px !important;
//     //  border          : 1px solid green !important;
//     height              : 48px !important;
//     width               : 44px !important;
//     background-color    : rgba(226, 226, 226, 0.855) !important;
// }
.slick-prev:before,
.slick-next:before {
    font-size             : 24px !important;
    line-height           : 1;
    opacity               : .75;
    color                 : white;
    -webkit-font-smoothing: antialiased;
    font-family           : 'Glyphicons Halflings' !important;
    font-style            : normal;
    font-weight           : 400;
    background            : #fff;
    border                : 2px solid #d7d7d7;
    padding               : 15px;
    text-align            : center;
    color                 : #959595 !important;
}


.slick-prev:before {
    content: "‹" !important;
}

.slick-next:before {
    content: "›" !important;
}

.slick-prev {
    z-index: 999 !important;
    left   : -15px !important;
    top    : 45% !important;
    height : 48px !important;
    width  : 44px !important;

}

.slick-disabled {
    display: none !important;
}

.slick-next {
    z-index             : 999 !important;
    right               : -15px !important;
    top                 : 45% !important;
    //  border          : 1px solid green !important;
    height              : 48px !important;
    width               : 44px !important;
}

.home-footer {
    text-align : center;
    padding-top: 10px;

    a {
        text-decoration: unset;
    }
}

.section-about {
    height: 600px;
    border: 2px solid #f5f5f5;

    .section-about-header {
        font-size  : 22px;
        font-weight: 600;
        padding    : 20px 10px;
    }

    .section-about-content {
        display: flex;
        gap    : 20px;
        padding: 7px;

        .content-left {
            width: 60%;
        }

        .content-right {
            width              : 40%;
            background-position: center center;
            background-repeat  : no-repeat;
            background-size    : contain;
            background-image   : url("../../assets/about.png") // p {
            //     text-align: justify;
            //     font-style: italic;
            //     padding   : 15px;
            // }
        }
    }
}